:root {
    --color-primary: #fd377e;
    --color-primary-light: #e34981;
    --color-secundary: #03b898;

    /* gray scale */

    --very-gray: #212529;
    --gray: #868e96;
    --light-gray: #e9ecef;
    --very-light-gray: #f8f9fa;

    /* font sizes */
    --font-title: 1.75rem;
    --font-second-title: 1.5rem;
    --font-third-title: 1.25rem;
    --font-subtitle: 0.75rem;
    --font-headline: 1rem;
    --font-body: 0.75rem;
}


/*buttons*/
button {
    color: var(--very-gray);
    background-color: var(--light-gray);
    border: none;
    font-size: var(--font-second-title);
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
}

button:hover {
    background-color: var(--very-gray);
    color: var(--very-light-gray);
}

button:focus {
    background-color: var(--color-primary);
    color: var(--very-light-gray);
}

.btn .primary:focus {
    padding: 0.5rem 1rem;
    color: var(--very-light-gray);
    background-color: var(--color-primary);
    font-size: var(--font-second-title);
    border: none;
    border-radius: 0.25rem;
}

.btn .primary:hover {
    color: var(--light-gray);
    background-color: var(--color-primary-light);
}


main {
    margin: 0 100px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 10fr;
}