:root {
    --color-primary: #fd377e;
    --color-primary-light: #e34981;
    --color-secundary: #03b898;

    /* gray scale */

    --very-gray: #212529;
    --gray: #868e96;
    --light-gray: #e9ecef;
    --very-light-gray: #f8f9fa;

    /* font sizes */
    --font-title: 1.75rem;
    --font-second-title: 1.5rem;
    --font-third-title: 1.25rem;
    --font-subtitle: 0.75rem;
    --font-headline: 1rem;
    --font-body: 0.75rem;
}


/*buttons*/

.large-primary--button {
    padding: 0.5rem 1rem;
    color: var(--very-light-gray);
    background-color: var(--color-primary);
    font-size: var(--font-second-title);
    border: none;
    border-radius: 0.25rem;
}

.large-primary--button:hover {
    color: var(--light-gray);
    background-color: var(--color-primary-light);
}


/* body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
} */