.cardContent {
  padding: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  background-color: var(--very-light-gray);
  align-content: center;
  color: var(--very-gray);
  border: solid 1px var(--light-gray);
  border-radius: 5px;
}