.no-login {
  background-color: var(--very-gray);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

}

.client-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  width: 17rem;
  height: 39rem;
  transition: all 0.3s ease;
}

.client-image {
  display: flex;
  transition: all 0.3s ease;
}

.btn-primary {
  background-color: var(--color-primary);
  color: var(--very-light-gray);
  width: 77%;
  height: 8%;
  font: var(--font-subtitle);
}

.brand-text {
  font: var(--font-title);
  color: var(--very-light-gray);
  font-weight: 800;
}

.sub-text {
  color: var(--very-light-gray);
  font-weight: 600;
}



.btn-primary:hover {
  color: var(--light-gray);
  background-color: var(--color-primary-light);
}


@media (max-width: 950px) {
  .client-login {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
  }

  .client-image {
    display: none;
  }

  @media (max-width: 550px) {
    .client-login {
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center;
    }
  }
}