input {
  border: 1px solid transparent;
  background-color: var(--light-gray);
  border-radius: 0.25rem;
  padding: 0.5rem;
  font-size: var(--font-headline);
}

select {
  border: 1px solid transparent;
  background-color: var(--light-gray);
  border-radius: 0.25rem;
  padding: 0.5rem;
  font-size: var(--font-headline);
}

.formsContent {
  display: flex;
  flex-direction: column;
  width: 90%;
  gap: 2rem;
  padding: 1rem;
}

.forms {
  border-radius: 0.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--light-gray);
  max-height: 19rem;
}

.valueSection {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
  align-items: baseline;


}

.formValue {
  width: 45%;

}



.validForm {
  display: flex;
  width: 95%;
}

.invalidForm {
  display: flex;
  width: 100%;
  border: 1px solid rgba(255, 0, 0, 0.783);
}


.labelText {
  font-size: var(--font-subtitle);
  font-weight: 400;
  color: var(--very-gray);
}

.helpText {
  font-size: var(--font-subtitle);
  color: var(--gray);

}

@media (max-width: 950px) {
  .formsContent {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
  }

  .forms {
    width: 100%;
    height: 100%;
  }

  .valueSection {
    flex-direction: column;
    gap: 1rem;
  }

  .formValue {
    width: 100%;
  }

  .validForm {
    width: 100%;
  }

  .invalidForm {
    width: 100%;
  }

  .labelText {
    font-size: var(--font-subtitle);
    font-weight: 400;
    color: var(--very-gray);
  }

  .helpText {
    font-size: var(--font-subtitle);
    color: var(--gray);
  }
}